button {
  font-size: 1.5em;
  color: white;
  border: 0;
  border-radius: 5%;
  margin: 0;
  padding: 10px;
}

#p1 {
  background: #3882f6;
}

#p2 {
  background: #4ef638;
}
#reset {
  background: #f63838;
  color: white;
}

button:active {
  border-color: #7da7e2;
}

.settings {
  font-size: 1.5em;
}

select {
  font-size: 1em;
}

.score {
  font-size: 2em;
}
